
body{
	background: #f4f4f4;
	margin: 0;
	font-family: 'Be Vietnam',Arial,sans-serif;
	font-family: 'Comfortaa', cursive;
	height: 100%;	color: #58402c;
}

#header-other-text{
	font-size: 1.5em;
}

#header-main-text{
	font-size: 3em;	
}

#intro, .left-head-text, .foto-head-text{
	height: 100vh;

}

.MainText{
margin-top: calc(50vh - 98px);
}	

.left-head-text{
	float: left;
	width: 60%;
	height: 100%;
	left: 0;
    right: 0;
    bottom: 0;
    top:0;
	font-weight: bold;
	text-align: center;

}
.foto-head-text{
	float: right;

	left: 60%;
    right: 0;
    bottom: 0;
    top:0;
	width: 40%;
	margin: 0 auto;
	background: lightgreen;
}

#myphoto{
	width: 60%;
	top:50px;
}


.nav-menu{
	list-style-type: none;
	display: table;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100px;
	font-weight: bold;
}
.nav-menu li{
	display: table-cell;
	position: relative;
}
.nav-menu a{
	background-color:#ffe7d2;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	display: block;
	color: #58402c;
	line-height: 100px;
	border-bottom: 5px solid #f5c64e;
}
.nav-menu a:hover{
	color: #cca07c;
}
