
body{
	background: #f4f4f4;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	height: 100%;	color: #787878;
}

header{
	height: 100vh;
	background-color: #e9e9e9;
	overflow: hidden;
}
.HeaderText{
	font-size: 0.750em;	
	float: right;
	width: 60%;
	height: 70px;
}
.HeaderNavMenu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 70px;
	text-transform: uppercase;
	font-weight: bold;
	list-style-type: none;

}
.HeaderNavMenu a{
	text-decoration: none;
	color: #191919;
}
.HeaderNavMenu a:hover{
	color: #10c9c3;
}
.Main{
	height: calc(100vh - 70px);
	position: relative;
	top: 70px;
}

.MainPhoto{
	width: 40%;
	position: absolute;
	left: 0;
	top:0;
	height: calc(100vh - 70px);
}
.MainText{
	width: 60%;
	right: 0;
	top:0;
	position: absolute;
	height: calc(100vh - 70px);
	margin: 0 auto;

}
.MainText p{
	font-size: 1.125em;
	text-align: justify;
	margin-right: 30%;
}
.MainText span{	
	color: #1d1d1d;
	font-weight: bold;
	font-size: 3em;
	text-align: left;
	display: inline-block;
	margin-top: 5%;
}
.MainText a{
	text-decoration: none;
	color: #ffffff;
	text-align: center;	
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
}
.BottonContactUs:hover{
	background-color: #35fff8;
}

.BottonContactUs{
	font-family: 'Montserrat', sans-serif;
	background-color: #10c9c3;
	border: 0;
	display: inline-block;
	padding: 15px 32px;
	margin-top: 2%;

}

.AboutMe{
	position: absolute;
	top: 100vh;
	width: 100%;
	height: 40vh;
}
.AboutMeText span{
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	text-align: center;
	margin: 3%;
	color: #191919;
}

.AboutMeText p{
	text-align: center;
	margin: 3%;
	color: #787878;
}

.ImgSignatureCenter{
	display:block;
	margin:0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
}

.AboutMeText{
	width: 60%;
	margin: 0 auto;
}/*
.ProffesionalSkills{
	width: 100%;
	height: 80vh;
	background-color: #10c9c3;
}*/
